# Cookies

## Ingredients

- 8 oz (226 g) browned butter, room temperature
- 9.75 oz (276 g) light brown sugar
- 4.5 oz (127 g) granulated white sugar
- 2 large eggs
- 11.5 oz  (326 g) all purpose flour
- 1 Tbsp kosher salt
- 1 Tbsp hazelnut coffee grounds, finely ground
- 1 tsp vanilla extract
- 1/2 tsp baking soda
- 1/2 tsp baking powder
- 16 oz  (453 g) inclusions

## Half Ingredients

- 4 oz (113 g) browned butter, room temperature
- 4.5ish oz (138 g) light brown sugar
- 2.25 oz (63.5 g) granulated white sugar
- 1 large eggs
- 5.5ish oz  (163 g) all purpose flour
- 1/2 Tbsp kosher salt
- 1/2 Tbsp hazelnut coffee grounds, finely ground
- 1/2 tsp vanilla extract
- 1/4 tsp baking soda
- 1/4 tsp baking powder
- 8 oz  (226.5 g) inclusions

## Method

1. Combine the browned butter and sugars in the bowl of a stand mixer. Begin creaming the butter and sugar, using a paddle attachment, at medium-high speed. Continue mixing until the butter becomes soft, aerated, and fully combined with the sugars, about 1-3 minutes.
1. Scrape down the sides of the bowl to make sure the mixture is homogeneous.
1. Start adding the eggs, one at a time, and mixing thoroughly in between additions. Make sure to scrape down the bowl in between additions as well. This will ensure the entire mixture is well combined.
1. In a separate bowl, combine the flour, salt, coffee grounds, baking soda, and baking powder. Whisk to evenly distribute the ingredients.
1. Add the dry ingredients all at once to the mixing bowl, then mix at low speed until the batter is just combined. Overmixing the dough at this stage can result in unwanted gluten development.
1. Combine the dough with the inclusions/toppings of your choice. Once again, avoid overmixing the dough.
1. Using an ice cream scoop, scoop the dough into mounds. Place them evenly on a large, rimmed baking sheet lined with parchment paper.
1. Refrigerate the dough overnight or up to 3 days.
1. Bake the cookies at 375°F for 18-20 minutes, rotating the pan halfway through.
1. Transfer the still hot cookie to a cooling rack.
1. Enjoy warm or at room temperature.

## Trial 1

- Did the half size
- added a quarter teaspoon of potato starch
- added a little water bc of rehyrdating the brown sugar and trying to get all the brown bits after browning the butter
- probably due to the water inclusion, the dough was way too thin, so I added extra flour
- I mightve also creamed the butter and sugar too much, but I don't think that's really possible
- The instructions also don't mention when to add vanilla, so I added it after adding the egg

### Results

- Fantastic!
- Only change would be less vanilla. I definitely added a bit too much by accident
- Mightve overcooked them just a tad