<div class="text-contents">
  <h1>
  about grif
  </h1>
  <p>Hi, I'm grif. This site is for my stuf. I like building things and annoying my wife and friends.</p>

  <p>
    <i>
      "If by chance some day you're not feeling well and you should remember some
      silly thing I've said or done and it brings back a smile to your face or a
      chuckle to your heart, then my purpose as your clown has been fulfilled."
    </i>
    - Red Skelton
  </p>
</div>