<div class="contents">
  <h1>
    contact grif
  </h1>
  <ul class="basic-list">
    <li>
      <a href="mailto:grif@grifstuf.com">grif@grifstuf.com</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/griffin-polonus-95a1296a/">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/gpolonus">GitHub</a>
    </li>
  </ul>
</div>