<div class="text-contents">
{{#mdrender}}

# lippy the fish

Lippy was a goldfish. He was fantastic and wonderful and a big fan of the perma-frown look even though he is reported to have been a rather happy fish. I hope to share the joy that this exceptional fish has brought me by showing him to as many people as possible.

{{/mdrender}}
</div>