# Bean and Cabbage Curry Noodle Soup

- big can of pinto beans
- can of coconut milk
- can of that good yellow curry paste
- yellow onion
- half a cabbage
- noodles of some kind
- less than you'd think of soy sauce and fish sauce
- spices
	- garlic
	- dried chilies
	- bay leaves
	- whole allspice
	- whole cloves
	- pinch of ground star anise
	- small pinch of cinnamon
	- Knorr (less than you do usually)
	- fennel seeds
	- ground corriander
	- whole cumin
	- MSG
	- salt to taste (didn't need much)
	- basil leaves will probably be good in this, but v1 didn't have them

1. make sure your onion, garlic, and cabbage are chopped, and your beans are thoroughly rinsed
2. hot oil
3. cook off the curry paste
4. add chopped onion, let that get together for a couple minutes, then add the garlic
5. add a bit of the coconut milk, like a couple tablespoons, to deglaze and break up the curry paste
6. add all the cabbage, get that all mixed, then cover to get the cabbage to cook
7. once the cabbage has softened a bit, add the rest of the coconut milk
8. stir to future break up the paste
9. add the beans, however much pasta, and enough water to cover and then extra
	1. see 11 about the pasta
10. add the soy sauce and fish sauce and the rest of the seasonings
11. bring to a boil quickly to make sure the pasta doesn't get water logged. If you can't do this reliably, half cook the pasta ahead of time
12. once boiling, turn down heat and let simmer till the pasta is cooked. This took 5 minutes for v1, probably cuz the pot got so hot and there was enough water
13. Done!

## Addendum
- this recipe intentionally omits any significant source of acid that you'd usually get from white vinegar or lime. I have "over-acided" so many soups and sauces, so I leave adding acid up to the eater. Lemon juice did well for this, but Rooster brand chili-garlic sauce did the best
- Peanut butter was also an amazing per-bowl add
- v1 didn't include any black pepper and this was an oversight. In the future, I'd add some whole black pepper before boiling
- This recipe also omits chicken broth/stock. Chicken based things have been giving me issues, so the cloves, anise, allspice, cinnamon, and bay leaves are there to make up for the lack of stock. The Knorr was added just to make sure enough MSG and salt was included, but it's probably not necessary
- Half a cabbage seemed like a lot at the beginning, but it absolutely was the right amount. It cooked down and softened really nicely, and it's good for you dammit