<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" />
    {{#css}}
      <link rel="stylesheet" href="/css/{{css}}.css" />
    {{/css}}
    <meta name="description" content="The grifstuf portfolio site of Griffin Polonus." />
    <title>
      grifstuf {{#title}}| {{title}}{{/title}}
    </title>
  </head>
  <body>
    <nav>
      <ul>
        {{#links}}
        <li>
          <a href="/{{path}}">{{title}}</a>
        </li>
        {{/links}}
      </ul>
    </nav>
{{> content}}
  </body>
</html>
